# coding: utf-8

"""
CartaoApi.py
Copyright 2015 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class CartaoApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def consultar_cartao_using_get(self, id_emissor, numero_cartao, id_conta, id_cartao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}
        Consultar as informaÃ§Ãµes de um determinado cartÃ£o de uma conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_cartao_using_get(id_emissor, numero_cartao, id_conta, id_cartao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param str numero_cartao: NÃºmero do CartÃ£o que deseja consultar (required)
        :param int id_conta: ID da Conta que pertence o cartÃ£o (required)
        :param int id_cartao: ID do CartÃ£o que deseja consultar (required)
        :return: ConsultarCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'numero_cartao', 'id_conta', 'id_cartao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_cartao_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `consultar_cartao_using_get`")
        # verify the required parameter 'numero_cartao' is set
        if ('numero_cartao' not in params) or (params['numero_cartao'] is None):
            raise ValueError("Missing the required parameter `numero_cartao` when calling `consultar_cartao_using_get`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_cartao_using_get`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `consultar_cartao_using_get`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/cartoes/{idCartao}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']
        if 'numero_cartao' in params:
            header_params['numeroCartao'] = params['numero_cartao']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ConsultarCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def cancelar_cartao_using_post(self, id_emissor, id_conta, id_cartao, motivo, observacao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/cancelar
        Cancelar um determinado cartÃ£o

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.cancelar_cartao_using_post(id_emissor, id_conta, id_cartao, motivo, observacao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do CartÃ£o que deseja cancelar (required)
        :param int motivo: Motivo do cancelamento (required)
        :param str observacao: Alguma observaÃ§Ã£o para o cancelamento (required)
        :return: CancelarCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'id_conta', 'id_cartao', 'motivo', 'observacao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancelar_cartao_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `cancelar_cartao_using_post`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `cancelar_cartao_using_post`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `cancelar_cartao_using_post`")
        # verify the required parameter 'motivo' is set
        if ('motivo' not in params) or (params['motivo'] is None):
            raise ValueError("Missing the required parameter `motivo` when calling `cancelar_cartao_using_post`")
        # verify the required parameter 'observacao' is set
        if ('observacao' not in params) or (params['observacao'] is None):
            raise ValueError("Missing the required parameter `observacao` when calling `cancelar_cartao_using_post`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/cartoes/{idCartao}/cancelar'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}
        if 'motivo' in params:
            query_params['motivo'] = params['motivo']
        if 'observacao' in params:
            query_params['observacao'] = params['observacao']

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='CancelarCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def desbloquear_cartao_using_post(self, id_emissor, id_conta, id_cartao, codigo_segurancao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/desbloquear
        Desbloquear cartÃ£o de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.desbloquear_cartao_using_post(id_emissor, id_conta, id_cartao, codigo_segurancao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do CartÃ£o que deseja consultar o saldo/limite (required)
        :param str codigo_segurancao: CÃ³digo seguranÃ§a do cartÃ£o (required)
        :return: DesbloquearCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'id_conta', 'id_cartao', 'codigo_segurancao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method desbloquear_cartao_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `desbloquear_cartao_using_post`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `desbloquear_cartao_using_post`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `desbloquear_cartao_using_post`")
        # verify the required parameter 'codigo_segurancao' is set
        if ('codigo_segurancao' not in params) or (params['codigo_segurancao'] is None):
            raise ValueError("Missing the required parameter `codigo_segurancao` when calling `desbloquear_cartao_using_post`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/cartoes/{idCartao}/desbloquear'.replace('{format}', 'json')
        method = 'POST'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']
        if 'codigo_segurancao' in params:
            header_params['codigoSegurancao'] = params['codigo_segurancao']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='DesbloquearCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_extrato_faturas_using_get(self, id_emissor, id_conta, id_cartao, data_vencimento, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/faturas
        Consulte os extratos/faturas do cartÃ£o de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_extrato_faturas_using_get(id_emissor, id_conta, id_cartao, data_vencimento, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do CartÃ£o que deseja consultar o extrato (required)
        :param str data_vencimento: Data limite para o vencimento das transaÃ§Ãµes (required)
        :return: ConsultarExtratoContaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'id_conta', 'id_cartao', 'data_vencimento']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_extrato_faturas_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `consultar_extrato_faturas_using_get`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_extrato_faturas_using_get`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `consultar_extrato_faturas_using_get`")
        # verify the required parameter 'data_vencimento' is set
        if ('data_vencimento' not in params) or (params['data_vencimento'] is None):
            raise ValueError("Missing the required parameter `data_vencimento` when calling `consultar_extrato_faturas_using_get`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/cartoes/{idCartao}/faturas'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}
        if 'data_vencimento' in params:
            query_params['dataVencimento'] = params['data_vencimento']

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ConsultarExtratoContaResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_saldos_limites_using_get(self, id_emissor, id_conta, id_cartao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/saldos
        Consulte o saldo do cartÃ£o de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_saldos_limites_using_get(id_emissor, id_conta, id_cartao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do CartÃ£o que deseja consultar o saldo/limite (required)
        :return: ConsultarSaldoLimitesResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'id_conta', 'id_cartao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_saldos_limites_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `consultar_saldos_limites_using_get`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_saldos_limites_using_get`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `consultar_saldos_limites_using_get`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/cartoes/{idCartao}/saldos'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ConsultarSaldoLimitesResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_conta_using_get(self, id_emissor, id_conta, **kwargs):
        """
        /contas/{idConta}
        Consulte informaÃ§Ãµes de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_conta_using_get(id_emissor, id_conta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_emissor: ID do Emissor (required)
        :param int id_conta: ID da Conta (required)
        :return: ContaResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_emissor', 'id_conta']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_conta_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_emissor' is set
        if ('id_emissor' not in params) or (params['id_emissor'] is None):
            raise ValueError("Missing the required parameter `id_emissor` when calling `consultar_conta_using_get`")
        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_conta_using_get`")

        resource_path = '/api/v1/contas/{idConta}/cartoes/{idConta}'.replace('{format}', 'json')
        method = 'GET'

        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']

        query_params = {}

        header_params = {}
        if 'id_emissor' in params:
            header_params['idEmissor'] = params['id_emissor']

        form_params = {}
        files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, method,
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=files,
                                            response_type='ContaResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
