# coding: utf-8

"""
CartaoApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class CartaoApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def bloquear_cartao_using_post(self, id_conta, id_cartao, motivo, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/bloquear
        Bloquear um determinado cart\u00C3\u00A3o

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.bloquear_cartao_using_post(id_conta, id_cartao, motivo, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do Cart\u00C3\u00A3o que deseja cancelar (required)
        :param int motivo: Motivo do bloqueio (required)
        :param str observacao: Alguma observa\u00C3\u00A7\u00C3\u00A3o para o bloqueio
        :return: CancelarCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta', 'id_cartao', 'motivo', 'observacao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method bloquear_cartao_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `bloquear_cartao_using_post`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `bloquear_cartao_using_post`")
        # verify the required parameter 'motivo' is set
        if ('motivo' not in params) or (params['motivo'] is None):
            raise ValueError("Missing the required parameter `motivo` when calling `bloquear_cartao_using_post`")

        resource_path = '/v1/contas/{idConta}/cartoes/{idCartao}/bloquear'.replace('{format}', 'json')
        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}
        if 'motivo' in params:
            query_params['motivo'] = params['motivo']
        if 'observacao' in params:
            query_params['observacao'] = params['observacao']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='CancelarCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_cartao_using_get(self, id_conta, id_cartao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}
        Consultar as informa\u00C3\u00A7\u00C3\u00B5es de um determinado cart\u00C3\u00A3o de uma conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_cartao_using_get(id_conta, id_cartao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: ID da Conta que pertence o cart\u00C3\u00A3o (required)
        :param int id_cartao: ID do Cart\u00C3\u00A3o que deseja consultar (required)
        :param str numero_cartao: N\u00C3\u00BAmero do Cart\u00C3\u00A3o que deseja consultar (opcional)
        :return: ConsultarCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta', 'id_cartao', 'numero_cartao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_cartao_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_cartao_using_get`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `consultar_cartao_using_get`")

        resource_path = '/v1/contas/{idConta}/cartoes/{idCartao}'.replace('{format}', 'json')
        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}

        header_params = {}
        if 'numero_cartao' in params:
            header_params['numeroCartao'] = params['numero_cartao']

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ConsultarCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_cartoes_using_get(self, id_conta, **kwargs):
        """
        /contas/{idConta}/cartoes
        Consultar todos os cart\u00C3\u00B5es de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_cartoes_using_get(id_conta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: ID da Conta (required)
        :return: ConsultarCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_cartoes_using_get" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_cartoes_using_get`")

        resource_path = '/v1/contas/{idConta}/cartoes'.replace('{format}', 'json')
        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ConsultarCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def desbloquear_cartao_using_post(self, id_conta, id_cartao, **kwargs):
        """
        /contas/{idConta}/cartoes/{idCartao}/desbloquear
        Desbloquear cart\u00C3\u00A3o de uma determinada conta

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.desbloquear_cartao_using_post(id_conta, id_cartao, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: ID da Conta (required)
        :param int id_cartao: ID do Cart\u00C3\u00A3o que deseja consultar o saldo/limite (required)
        :param str codigo_segurancao: C\u00C3\u00B3digo seguran\u00C3\u00A7a do cart\u00C3\u00A3o
        :return: DesbloquearCartaoResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta', 'id_cartao', 'codigo_segurancao']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method desbloquear_cartao_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `desbloquear_cartao_using_post`")
        # verify the required parameter 'id_cartao' is set
        if ('id_cartao' not in params) or (params['id_cartao'] is None):
            raise ValueError("Missing the required parameter `id_cartao` when calling `desbloquear_cartao_using_post`")

        resource_path = '/v1/contas/{idConta}/cartoes/{idCartao}/desbloquear'.replace('{format}', 'json')
        path_params = {}
        if 'id_conta' in params:
            path_params['idConta'] = params['id_conta']
        if 'id_cartao' in params:
            path_params['idCartao'] = params['id_cartao']

        query_params = {}

        header_params = {}
        if 'codigo_segurancao' in params:
            header_params['codigoSegurancao'] = params['codigo_segurancao']

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='DesbloquearCartaoResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
