# coding: utf-8

"""
GlobaltagjobApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class GlobaltagjobApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def ativar_job_using_post(self, id, **kwargs):
        """
        {{{job_resource_ativar_job}}}
        {{{job_resource_ativar_job_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.ativar_job_using_post(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{job_resource_ativar_job_param_id}}} (required)
        :return: JobResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method ativar_job_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `ativar_job_using_post`")

        resource_path = '/api/jobs/{id}/ativar-job'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JobResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def atualizar_using_put4(self, id, descricao, cron, groovy, **kwargs):
        """
        {{{job_resource_atualizar}}}
        {{{job_resource_atualizar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.atualizar_using_put4(id, descricao, cron, groovy, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{job_resource_atualizar_param_id}}} (required)
        :param str descricao: {{{job_resource_atualizar_param_descricao}}} (required)
        :param str cron: {{{job_resource_atualizar_param_cron}}} (required)
        :param str groovy: groovy (required)
        :return: JobResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'descricao', 'cron', 'groovy']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method atualizar_using_put4" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `atualizar_using_put4`")
        # verify the required parameter 'descricao' is set
        if ('descricao' not in params) or (params['descricao'] is None):
            raise ValueError("Missing the required parameter `descricao` when calling `atualizar_using_put4`")
        # verify the required parameter 'cron' is set
        if ('cron' not in params) or (params['cron'] is None):
            raise ValueError("Missing the required parameter `cron` when calling `atualizar_using_put4`")
        # verify the required parameter 'groovy' is set
        if ('groovy' not in params) or (params['groovy'] is None):
            raise ValueError("Missing the required parameter `groovy` when calling `atualizar_using_put4`")

        resource_path = '/api/jobs/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'descricao' in params:
            query_params['descricao'] = params['descricao']
        if 'cron' in params:
            query_params['cron'] = params['cron']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'groovy' in params:
            body_params = params['groovy']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['text/plain'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JobResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def desativar_job_using_post(self, id, **kwargs):
        """
        {{{job_resource_desativar_job}}}
        {{{job_resource_desativar_job_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.desativar_job_using_post(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{job_resource_desativar_job_param_id}}} (required)
        :return: JobResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method desativar_job_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `desativar_job_using_post`")

        resource_path = '/api/jobs/{id}/desativar-job'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JobResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def listar_using_get31(self, **kwargs):
        """
        {{{job_resource_listar}}}
        {{{job_resource_listar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.listar_using_get31(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str groovy: {{{job_d_t_o_groovy_value}}}
        :param str descricao: {{{job_d_t_o_descricao_value}}}
        :param str cron: {{{job_d_t_o_cron_value}}}
        :param str status: {{{job_d_t_o_status_value}}}
        :param int page: P\u00E1gina solicitada (Default = 0)
        :param int limit: Limite de elementos por solicita\u00E7\u00E3o (Default = 50, Max = 50)
        :return: PageJobResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['groovy', 'descricao', 'cron', 'status', 'page', 'limit']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method listar_using_get31" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/api/jobs'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'groovy' in params:
            query_params['groovy'] = params['groovy']
        if 'descricao' in params:
            query_params['descricao'] = params['descricao']
        if 'cron' in params:
            query_params['cron'] = params['cron']
        if 'status' in params:
            query_params['status'] = params['status']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PageJobResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def salvar_using_post17(self, descricao, cron, groovy, **kwargs):
        """
        {{{job_resource_salvar}}}
        {{{job_resource_salvar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.salvar_using_post17(descricao, cron, groovy, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str descricao: {{{job_resource_salvar_param_descricao}}} (required)
        :param str cron: {{{job_resource_salvar_param_cron}}} (required)
        :param str groovy: groovy (required)
        :return: JobResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['descricao', 'cron', 'groovy']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method salvar_using_post17" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'descricao' is set
        if ('descricao' not in params) or (params['descricao'] is None):
            raise ValueError("Missing the required parameter `descricao` when calling `salvar_using_post17`")
        # verify the required parameter 'cron' is set
        if ('cron' not in params) or (params['cron'] is None):
            raise ValueError("Missing the required parameter `cron` when calling `salvar_using_post17`")
        # verify the required parameter 'groovy' is set
        if ('groovy' not in params) or (params['groovy'] is None):
            raise ValueError("Missing the required parameter `groovy` when calling `salvar_using_post17`")

        resource_path = '/api/jobs'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'descricao' in params:
            query_params['descricao'] = params['descricao']
        if 'cron' in params:
            query_params['cron'] = params['cron']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'groovy' in params:
            body_params = params['groovy']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['text/plain'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='JobResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
