# coding: utf-8

"""
GlobaltagdebitorecorrenteApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class GlobaltagdebitorecorrenteApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def aderir_debito_recorrente_using_post(self, conta_debito_recorrente_persist, **kwargs):
        """
        {{{conta_debito_recorrente_resource_aderir}}}
        {{{conta_debito_recorrente_resource_aderir_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.aderir_debito_recorrente_using_post(conta_debito_recorrente_persist, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param ContaDebitoRecorrentePersistValue conta_debito_recorrente_persist: contaDebitoRecorrentePersist (required)
        :return: ContaDebitoRecorrenteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['conta_debito_recorrente_persist']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method aderir_debito_recorrente_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'conta_debito_recorrente_persist' is set
        if ('conta_debito_recorrente_persist' not in params) or (params['conta_debito_recorrente_persist'] is None):
            raise ValueError("Missing the required parameter `conta_debito_recorrente_persist` when calling `aderir_debito_recorrente_using_post`")

        resource_path = '/api/debitos-recorrentes'.replace('{format}', 'json')
        path_params = {}

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'conta_debito_recorrente_persist' in params:
            body_params = params['conta_debito_recorrente_persist']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ContaDebitoRecorrenteResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def cancelar_debito_recorrente_using_post(self, id, conta_debito_recorrente_persist, **kwargs):
        """
        {{{conta_debito_recorrente_resource_cancelar}}}
        {{{conta_debito_recorrente_resource_cancelar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.cancelar_debito_recorrente_using_post(id, conta_debito_recorrente_persist, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{conta_debito_recorrente_resource_cancelar_param_id_debito_recorrente}}} (required)
        :param ContaDebitoRecorrentePersistValue conta_debito_recorrente_persist: contaDebitoRecorrentePersist (required)
        :return: ContaDebitoRecorrenteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'conta_debito_recorrente_persist']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method cancelar_debito_recorrente_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `cancelar_debito_recorrente_using_post`")
        # verify the required parameter 'conta_debito_recorrente_persist' is set
        if ('conta_debito_recorrente_persist' not in params) or (params['conta_debito_recorrente_persist'] is None):
            raise ValueError("Missing the required parameter `conta_debito_recorrente_persist` when calling `cancelar_debito_recorrente_using_post`")

        resource_path = '/api/debitos-recorrentes/{id}/cancelar'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None
        if 'conta_debito_recorrente_persist' in params:
            body_params = params['conta_debito_recorrente_persist']

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='ContaDebitoRecorrenteResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def listar_using_get17(self, id_conta, **kwargs):
        """
        {{{conta_debito_recorrente_resource_listar}}}
        {{{conta_debito_recorrente_resource_listar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.listar_using_get17(id_conta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: {{{conta_debito_recorrente_resource_listar_param_id_conta}}} (required)
        :param int id_tipo_debito_recorrente: {{{conta_debito_recorrente_resource_listar_param_id_tipo_debito_recorrente}}}
        :param list[str] sort: {{{global_menssagem_sort_sort}}}
        :param int page: {{{global_menssagem_sort_page_value}}}
        :param int limit: {{{global_menssagem_sort_limit}}}
        :param str data_hora_inicio: {{{conta_debito_recorrente_request_data_hora_inicio_value}}}
        :param str data_hora_fim: {{{conta_debito_recorrente_request_data_hora_fim_value}}}
        :param bool ativo: {{{conta_debito_recorrente_request_ativo_value}}}
        :param str data_hora_ultimo_pagamento: {{{conta_debito_recorrente_request_data_hora_ultimo_pagamento_value}}}
        :return: PageContaDebitoRecorrenteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta', 'id_tipo_debito_recorrente', 'sort', 'page', 'limit', 'data_hora_inicio', 'data_hora_fim', 'ativo', 'data_hora_ultimo_pagamento']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method listar_using_get17" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `listar_using_get17`")

        resource_path = '/api/debitos-recorrentes'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'id_conta' in params:
            query_params['idConta'] = params['id_conta']
        if 'id_tipo_debito_recorrente' in params:
            query_params['idTipoDebitoRecorrente'] = params['id_tipo_debito_recorrente']
        if 'sort' in params:
            query_params['sort'] = params['sort']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'data_hora_inicio' in params:
            query_params['dataHoraInicio'] = params['data_hora_inicio']
        if 'data_hora_fim' in params:
            query_params['dataHoraFim'] = params['data_hora_fim']
        if 'ativo' in params:
            query_params['ativo'] = params['ativo']
        if 'data_hora_ultimo_pagamento' in params:
            query_params['dataHoraUltimoPagamento'] = params['data_hora_ultimo_pagamento']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PageContaDebitoRecorrenteResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def listar_using_get53(self, **kwargs):
        """
        {{{tipo_debito_recorrente_resource_listar}}}
        {{{tipo_debito_recorrente_resource_listar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.listar_using_get53(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] sort: {{{global_menssagem_sort_sort}}}
        :param int page: {{{global_menssagem_sort_page_value}}}
        :param int limit: {{{global_menssagem_sort_limit}}}
        :param int id: {{{tipo_debito_recorrente_request_id_value}}}
        :param str descricao: {{{tipo_debito_recorrente_request_descricao_value}}}
        :param float valor: {{{tipo_debito_recorrente_request_valor_value}}}
        :param bool flag_ativo: {{{tipo_debito_recorrente_request_flag_ativo_value}}}
        :return: PageTipoDebitoRecorrenteResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sort', 'page', 'limit', 'id', 'descricao', 'valor', 'flag_ativo']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method listar_using_get53" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/api/tipos-debitos-recorrentes'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'sort' in params:
            query_params['sort'] = params['sort']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'id' in params:
            query_params['id'] = params['id']
        if 'descricao' in params:
            query_params['descricao'] = params['descricao']
        if 'valor' in params:
            query_params['valor'] = params['valor']
        if 'flag_ativo' in params:
            query_params['flagAtivo'] = params['flag_ativo']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PageTipoDebitoRecorrenteResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
