# coding: utf-8

"""
GlobaltagfaqApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class GlobaltagfaqApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def adicionar_using_post(self, pergunta, resposta, **kwargs):
        """
        {{{faq_resource_adicionar}}}
        {{{faq_resource_adicionar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.adicionar_using_post(pergunta, resposta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str pergunta: {{{faq_persist_pergunta_value}}} (required)
        :param str resposta: {{{faq_persist_resposta_value}}} (required)
        :param int relevancia: {{{faq_persist_relevancia_value}}}
        :param str plataforma: {{{faq_persist_plataforma_value}}}
        :param str categoria: {{{faq_persist_categoria_value}}}
        :param str status: {{{faq_persist_status_value}}}
        :return: FaqResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['pergunta', 'resposta', 'relevancia', 'plataforma', 'categoria', 'status']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method adicionar_using_post" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'pergunta' is set
        if ('pergunta' not in params) or (params['pergunta'] is None):
            raise ValueError("Missing the required parameter `pergunta` when calling `adicionar_using_post`")
        # verify the required parameter 'resposta' is set
        if ('resposta' not in params) or (params['resposta'] is None):
            raise ValueError("Missing the required parameter `resposta` when calling `adicionar_using_post`")

        resource_path = '/api/faqs'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'pergunta' in params:
            query_params['pergunta'] = params['pergunta']
        if 'resposta' in params:
            query_params['resposta'] = params['resposta']
        if 'relevancia' in params:
            query_params['relevancia'] = params['relevancia']
        if 'plataforma' in params:
            query_params['plataforma'] = params['plataforma']
        if 'categoria' in params:
            query_params['categoria'] = params['categoria']
        if 'status' in params:
            query_params['status'] = params['status']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'POST',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FaqResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def alterar_using_put7(self, id, pergunta, resposta, **kwargs):
        """
        {{{faq_resource_alterar}}}
        {{{faq_resource_alterar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.alterar_using_put7(id, pergunta, resposta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{faq_resource_alterar_param_id_faq}}} (required)
        :param str pergunta: {{{faq_persist_pergunta_value}}} (required)
        :param str resposta: {{{faq_persist_resposta_value}}} (required)
        :param int relevancia: {{{faq_persist_relevancia_value}}}
        :param str plataforma: {{{faq_persist_plataforma_value}}}
        :param str categoria: {{{faq_persist_categoria_value}}}
        :param str status: {{{faq_persist_status_value}}}
        :return: FaqResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id', 'pergunta', 'resposta', 'relevancia', 'plataforma', 'categoria', 'status']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method alterar_using_put7" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `alterar_using_put7`")
        # verify the required parameter 'pergunta' is set
        if ('pergunta' not in params) or (params['pergunta'] is None):
            raise ValueError("Missing the required parameter `pergunta` when calling `alterar_using_put7`")
        # verify the required parameter 'resposta' is set
        if ('resposta' not in params) or (params['resposta'] is None):
            raise ValueError("Missing the required parameter `resposta` when calling `alterar_using_put7`")

        resource_path = '/api/faqs/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}
        if 'pergunta' in params:
            query_params['pergunta'] = params['pergunta']
        if 'resposta' in params:
            query_params['resposta'] = params['resposta']
        if 'relevancia' in params:
            query_params['relevancia'] = params['relevancia']
        if 'plataforma' in params:
            query_params['plataforma'] = params['plataforma']
        if 'categoria' in params:
            query_params['categoria'] = params['categoria']
        if 'status' in params:
            query_params['status'] = params['status']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FaqResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_using_get21(self, id, **kwargs):
        """
        {{{faq_resource_consultar}}}
        {{{faq_resource_consultar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_using_get21(id, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id: {{{faq_resource_consultar_param_id_faq}}} (required)
        :return: FaqResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_using_get21" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id' is set
        if ('id' not in params) or (params['id'] is None):
            raise ValueError("Missing the required parameter `id` when calling `consultar_using_get21`")

        resource_path = '/api/faqs/{id}'.replace('{format}', 'json')
        path_params = {}
        if 'id' in params:
            path_params['id'] = params['id']

        query_params = {}

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='FaqResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def listar_using_get26(self, **kwargs):
        """
        {{{faq_resource_listar}}}
        {{{faq_resource_listar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.listar_using_get26(callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param list[str] sort: {{{global_menssagem_sort_sort}}}
        :param int page: {{{global_menssagem_sort_page_value}}}
        :param int limit: {{{global_menssagem_sort_limit}}}
        :param int id_faq: {{{faq_request_id_faq_value}}}
        :param str pergunta: {{{faq_request_pergunta_value}}}
        :param str resposta: {{{faq_request_resposta_value}}}
        :param int relevancia: {{{faq_request_relevancia_value}}}
        :param str plataforma: {{{faq_request_plataforma_value}}}
        :param str categoria: {{{faq_request_categoria_value}}}
        :param str status: {{{faq_request_status_value}}}
        :return: PageFaqResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['sort', 'page', 'limit', 'id_faq', 'pergunta', 'resposta', 'relevancia', 'plataforma', 'categoria', 'status']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method listar_using_get26" % key
                )
            params[key] = val
        del params['kwargs']


        resource_path = '/api/faqs'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'sort' in params:
            query_params['sort'] = params['sort']
        if 'page' in params:
            query_params['page'] = params['page']
        if 'limit' in params:
            query_params['limit'] = params['limit']
        if 'id_faq' in params:
            query_params['idFaq'] = params['id_faq']
        if 'pergunta' in params:
            query_params['pergunta'] = params['pergunta']
        if 'resposta' in params:
            query_params['resposta'] = params['resposta']
        if 'relevancia' in params:
            query_params['relevancia'] = params['relevancia']
        if 'plataforma' in params:
            query_params['plataforma'] = params['plataforma']
        if 'categoria' in params:
            query_params['categoria'] = params['categoria']
        if 'status' in params:
            query_params['status'] = params['status']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='PageFaqResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
