# coding: utf-8

"""
GlobaltaglimitedisponibilidadeApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class GlobaltaglimitedisponibilidadeApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def alterar_using_put9(self, id_conta, **kwargs):
        """
        {{{limite_disponibilidade_resource_alterar}}}
        {{{limite_disponibilidade_resource_alterar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.alterar_using_put9(id_conta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: {{{limite_disponibilidade_update_id_conta_value}}} (required)
        :param float limite_global: {{{limite_disponibilidade_persist_limite_global_value}}}
        :param float limite_compra: {{{limite_disponibilidade_persist_limite_compra_value}}}
        :param float limite_parcelado: {{{limite_disponibilidade_persist_limite_parcelado_value}}}
        :param float limite_parcelas: {{{limite_disponibilidade_persist_limite_parcelas_value}}}
        :param float limite_saque_global: {{{limite_disponibilidade_persist_limite_saque_global_value}}}
        :param float limite_saque_periodo: {{{limite_disponibilidade_persist_limite_saque_periodo_value}}}
        :param float limite_consignado: {{{limite_disponibilidade_persist_limite_consignado_value}}}
        :param float limite_internacional_compra: {{{limite_disponibilidade_persist_limite_internacional_compra_value}}}
        :param float limite_internacional_parcelado: {{{limite_disponibilidade_persist_limite_internacional_parcelado_value}}}
        :param float limite_internacional_parcelas: {{{limite_disponibilidade_persist_limite_internacional_parcelas_value}}}
        :param float limite_internacional_saque_global: {{{limite_disponibilidade_persist_limite_internacional_saque_global_value}}}
        :param float limite_internacional_saque_periodo: {{{limite_disponibilidade_persist_limite_internacional_saque_periodo_value}}}
        :param float limite_maximo: {{{limite_disponibilidade_persist_limite_maximo_value}}}
        :return: LimiteDisponibilidadeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta', 'limite_global', 'limite_compra', 'limite_parcelado', 'limite_parcelas', 'limite_saque_global', 'limite_saque_periodo', 'limite_consignado', 'limite_internacional_compra', 'limite_internacional_parcelado', 'limite_internacional_parcelas', 'limite_internacional_saque_global', 'limite_internacional_saque_periodo', 'limite_maximo']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method alterar_using_put9" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `alterar_using_put9`")

        resource_path = '/api/limites-disponibilidades'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'limite_global' in params:
            query_params['limiteGlobal'] = params['limite_global']
        if 'limite_compra' in params:
            query_params['limiteCompra'] = params['limite_compra']
        if 'limite_parcelado' in params:
            query_params['limiteParcelado'] = params['limite_parcelado']
        if 'limite_parcelas' in params:
            query_params['limiteParcelas'] = params['limite_parcelas']
        if 'limite_saque_global' in params:
            query_params['limiteSaqueGlobal'] = params['limite_saque_global']
        if 'limite_saque_periodo' in params:
            query_params['limiteSaquePeriodo'] = params['limite_saque_periodo']
        if 'limite_consignado' in params:
            query_params['limiteConsignado'] = params['limite_consignado']
        if 'limite_internacional_compra' in params:
            query_params['limiteInternacionalCompra'] = params['limite_internacional_compra']
        if 'limite_internacional_parcelado' in params:
            query_params['limiteInternacionalParcelado'] = params['limite_internacional_parcelado']
        if 'limite_internacional_parcelas' in params:
            query_params['limiteInternacionalParcelas'] = params['limite_internacional_parcelas']
        if 'limite_internacional_saque_global' in params:
            query_params['limiteInternacionalSaqueGlobal'] = params['limite_internacional_saque_global']
        if 'limite_internacional_saque_periodo' in params:
            query_params['limiteInternacionalSaquePeriodo'] = params['limite_internacional_saque_periodo']
        if 'limite_maximo' in params:
            query_params['limiteMaximo'] = params['limite_maximo']
        if 'id_conta' in params:
            query_params['idConta'] = params['id_conta']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LimiteDisponibilidadeResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def consultar_using_get22(self, id_conta, **kwargs):
        """
        {{{limite_disponibilidade_resource_consultar}}}
        {{{limite_disponibilidade_resource_consultar_notes}}}

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.consultar_using_get22(id_conta, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param int id_conta: {{{limite_disponibilidade_resource_consultar_param_id_conta}}} (required)
        :return: LimiteDisponibilidadeResponse
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['id_conta']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method consultar_using_get22" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'id_conta' is set
        if ('id_conta' not in params) or (params['id_conta'] is None):
            raise ValueError("Missing the required parameter `id_conta` when calling `consultar_using_get22`")

        resource_path = '/api/limites-disponibilidades'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'id_conta' in params:
            query_params['idConta'] = params['id_conta']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = []

        response = self.api_client.call_api(resource_path, 'GET',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='LimiteDisponibilidadeResponse',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
