# coding: utf-8

"""
NotificacoesApi.py
Copyright 2016 SmartBear Software

   Licensed under the Apache License, Version 2.0 (the "License");
   you may not use this file except in compliance with the License.
   You may obtain a copy of the License at

       http://www.apache.org/licenses/LICENSE-2.0

   Unless required by applicable law or agreed to in writing, software
   distributed under the License is distributed on an "AS IS" BASIS,
   WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
   See the License for the specific language governing permissions and
   limitations under the License.
"""

from __future__ import absolute_import

import sys
import os

# python 2 and python 3 compatibility library
from six import iteritems

from ..configuration import Configuration
from ..api_client import ApiClient


class NotificacoesApi(object):
    """
    NOTE: This class is auto generated by the swagger code generator program.
    Do not edit the class manually.
    Ref: https://github.com/swagger-api/swagger-codegen
    """

    def __init__(self, api_client=None):
        config = Configuration()
        if api_client:
            self.api_client = api_client
        else:
            if not config.api_client:
                config.api_client = ApiClient()
            self.api_client = config.api_client

    def atualizar_sms_using_put(self, seu_num, status, data, texto_status, operadora, **kwargs):
        """
        Atualizar SMS
        Esse recurso permite atualizar o status do SMS do emissor

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.atualizar_sms_using_put(seu_num, status, data, texto_status, operadora, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str seu_num: Seu n\u00C3\u00BAmero (required)
        :param str status: Status (required)
        :param str data: Data (required)
        :param str texto_status: TextoStatus (required)
        :param str operadora: Operadora (required)
        :return: SMS
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['seu_num', 'status', 'data', 'texto_status', 'operadora']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method atualizar_sms_using_put" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'seu_num' is set
        if ('seu_num' not in params) or (params['seu_num'] is None):
            raise ValueError("Missing the required parameter `seu_num` when calling `atualizar_sms_using_put`")
        # verify the required parameter 'status' is set
        if ('status' not in params) or (params['status'] is None):
            raise ValueError("Missing the required parameter `status` when calling `atualizar_sms_using_put`")
        # verify the required parameter 'data' is set
        if ('data' not in params) or (params['data'] is None):
            raise ValueError("Missing the required parameter `data` when calling `atualizar_sms_using_put`")
        # verify the required parameter 'texto_status' is set
        if ('texto_status' not in params) or (params['texto_status'] is None):
            raise ValueError("Missing the required parameter `texto_status` when calling `atualizar_sms_using_put`")
        # verify the required parameter 'operadora' is set
        if ('operadora' not in params) or (params['operadora'] is None):
            raise ValueError("Missing the required parameter `operadora` when calling `atualizar_sms_using_put`")

        resource_path = '/api/notificacoes/sms/atualizar-status'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'seu_num' in params:
            query_params['SeuNum'] = params['seu_num']
        if 'status' in params:
            query_params['Status'] = params['status']
        if 'data' in params:
            query_params['Data'] = params['data']
        if 'texto_status' in params:
            query_params['TextoStatus'] = params['texto_status']
        if 'operadora' in params:
            query_params['Operadora'] = params['operadora']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='SMS',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response

    def responder_sms_using_put(self, seunum, data, texto_sms_mo, **kwargs):
        """
        Responder SMS
        Esse recurso permite atualizar a resposta do SMS, fornecida pedo usu\u00C3\u00A1rio

        This method makes a synchronous HTTP request by default. To make an
        asynchronous HTTP request, please define a `callback` function
        to be invoked when receiving the response.
        >>> def callback_function(response):
        >>>     pprint(response)
        >>>
        >>> thread = api.responder_sms_using_put(seunum, data, texto_sms_mo, callback=callback_function)

        :param callback function: The callback function
            for asynchronous request. (optional)
        :param str seunum: Seu n\u00C3\u00BAmero (required)
        :param str data: Data (required)
        :param str texto_sms_mo: TextoStatus (required)
        :return: SMS
                 If the method is called asynchronously,
                 returns the request thread.
        """

        all_params = ['seunum', 'data', 'texto_sms_mo']
        all_params.append('callback')

        params = locals()
        for key, val in iteritems(params['kwargs']):
            if key not in all_params:
                raise TypeError(
                    "Got an unexpected keyword argument '%s'"
                    " to method responder_sms_using_put" % key
                )
            params[key] = val
        del params['kwargs']

        # verify the required parameter 'seunum' is set
        if ('seunum' not in params) or (params['seunum'] is None):
            raise ValueError("Missing the required parameter `seunum` when calling `responder_sms_using_put`")
        # verify the required parameter 'data' is set
        if ('data' not in params) or (params['data'] is None):
            raise ValueError("Missing the required parameter `data` when calling `responder_sms_using_put`")
        # verify the required parameter 'texto_sms_mo' is set
        if ('texto_sms_mo' not in params) or (params['texto_sms_mo'] is None):
            raise ValueError("Missing the required parameter `texto_sms_mo` when calling `responder_sms_using_put`")

        resource_path = '/api/notificacoes/sms/responder'.replace('{format}', 'json')
        path_params = {}

        query_params = {}
        if 'seunum' in params:
            query_params['Seunum'] = params['seunum']
        if 'data' in params:
            query_params['Data'] = params['data']
        if 'texto_sms_mo' in params:
            query_params['TextoSmsMo'] = params['texto_sms_mo']

        header_params = {}

        form_params = []
        local_var_files = {}

        body_params = None

        # HTTP header `Accept`
        header_params['Accept'] = self.api_client.\
            select_header_accept(['application/json'])
        if not header_params['Accept']:
            del header_params['Accept']

        # HTTP header `Content-Type`
        header_params['Content-Type'] = self.api_client.\
            select_header_content_type(['application/json'])

        # Authentication setting
        auth_settings = ['access_token']

        response = self.api_client.call_api(resource_path, 'PUT',
                                            path_params,
                                            query_params,
                                            header_params,
                                            body=body_params,
                                            post_params=form_params,
                                            files=local_var_files,
                                            response_type='SMS',
                                            auth_settings=auth_settings,
                                            callback=params.get('callback'))
        return response
